body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.inicio_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/bdSports.jpg'); /* Ruta corregida */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}


.stripes {
  position: absolute;
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe-top {
  top: 0;
}

.stripe-top img {
  height: 220px;
}
.button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.02);
}